/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html{
    overflow-x: hidden;
}
*{
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid blue; */
    /* padding: 0; */
}

/* banner container styles */
#banner-container{
  background-image: url(./assets/hero-bg.png);
  background-position: cover;
  background-repeat: no-repeat;
}
#new-icon{
  background-color: rgba(0, 255, 136, 1);
}
#hero-circle{
  background-image: url(./assets/hero-circle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  aspect-ratio: 1 / 1;
  padding-top: 90px;
}
#new-icon{
  position: relative;
  bottom: 150px;
  right: 100px;
}
#hero-mic{
  position: relative;
  margin: 0 auto;
  width: 120px;
  height: auto;
}